@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 37px 140px 0 137px;
    margin-bottom: 44px;
}

header {
    max-width: 1163px;
    height: 60px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 114px;
}

header h1 {
    display: inline;
    color: rgb(54, 54, 54);
    font-family: Nunito;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
}

header img {
    width: 62px;
    height: 50.04px;
    margin: 5px 412px 5px 0;
}


header ul {
    display: flex;
    list-style: none;
    gap: 40px;
}


header ul li a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
}

header ul li a:hover {
    transition: all 0.5s ease;
    color: rgb(126, 100, 180);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: underline;
}

.inf {
    display: none;
    width: 100px;
    height: 150px;
    color: rgb(54, 54, 54);
    position: absolute;
    top: 50px;
    background-color: rgb(148, 145, 145);
    padding: 5px;
}

.cover {
    position: relative;
    height: 10px;
}

.cover:hover .inf {
    display: block;
}

.hero1 {
    max-width: 1053px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 209px;
    position: relative;
}

.hero1 .texts {
    max-width: 560px;
}

.hero1 .texts h1 {
    color: rgb(0, 0, 0);
    font-family: Nunito;
    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}

.hero1 .texts img {
    position: absolute;
    width: 62px;
    height: 50.04px;
    left: 480px;
    right: 367px;
    top: 160px;
    bottom: 109.96px;
}

.hero1 .texts p {
    color: rgb(72, 72, 72);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.hero2 {
    max-width: 985px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 75px;
}

.hero2 img {
    margin-bottom: 23px;
}

.hero2 .texts {
    width: 50%;
    margin-top: 8px;
}

.hero2 .texts p {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.hero2 .texts p span {
    color: rgb(126, 100, 180);
}

.hero3 {
    max-width: 1060px;
    display: flex;
    gap: 41px;
    flex-wrap: wrap;
}

.hero3 .sites {
    width: 100%;
    border-bottom: 2px solid rgb(126, 100, 180);
    display: flex;
    justify-content: space-between;
}

.hero3 .sites .yil {
    margin-top: 8px;
}

.hero3 .sites .yil h3 {
    color: rgb(0, 0, 0);
    font-family: Nunito;
    font-size: 16px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
}

.hero3 .sites .div1 {
    margin-top: 5px;
}

.hero3 .sites .div1 h1 {
    color: rgb(0, 0, 0);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
}

.hero3 .sites .div1 p {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(152, 152, 152);
    margin-bottom: 65px;
}

.hero3 .sites .div1 p span {
    color: rgb(126, 100, 180);
}

.hero3 .sites .div2 h1 {
    color: rgb(0, 0, 0);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
}

.hero3 .sites .div2 .language {
    width: 363px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    flex-wrap: wrap;
    gap: 16px;
}

.hero3 .sites .div2 .language button {
    color: rgb(237, 237, 237);
    background-color: rgb(126, 100, 180);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}



.for_background {
    background: linear-gradient(180.00deg, rgb(126, 100, 180),rgb(34, 27, 51) 100%);
}

.container2 {
    max-width: 1440px;
    margin: auto;
    padding: 100px 227px 100px 137px;
    display: flex;
    justify-content: space-between;
}

.container2 h1 {
    color: rgb(197, 197, 197);
    font-family: Nunito;
    font-size: 96.98px;
    font-weight: 700;
    line-height: 107.76px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-right: 31px;
    margin-top: 62px;
}

.container2 p {
    color: rgb(197, 197, 197);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}

.container3 {
    max-width: 1200px;
    margin: auto;
    padding-left: 10px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.container3 h1 {
    color: rgb(197, 197, 197);
    font-family: Nunito;
    font-size: 96.98px;
    font-weight: 700;
    line-height: 132px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 42px;
    margin-bottom: 37px;
}

.container3 .div1 {
    margin-bottom: 81px;
}

.container3 .input .div1 h1 {
    color: rgb(91, 91, 91);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 65px;
}

.container3 .input .div1 input {
    padding: 10px;
    color: rgb(152, 152, 152);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    border: 1px solid rgb(126, 100, 180);
    border-radius: 4px;
    background: rgb(255, 255, 255);
    margin-bottom: 15px;
    display: block;
}

.container3 .input .div1 textarea {
    color: rgb(152, 152, 152);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    border: 1px solid rgb(126, 100, 180);
    border-radius: 4px;
    background: rgb(255, 255, 255);
    padding: 20px 10px;
    display: block;
}

.container3 .input .div1 button {
    padding: 9px 88px;
    border-radius: 4px;
    background: rgb(126, 100, 180);
    margin-top: 15px;
    outline: none;
    border: none;
    transition: all 0.5s ease;
}

.container3 .input .div1 button:hover {
    background-color: black;
}

.container3 .input .div1 button a {
    color: rgb(237, 237, 237);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    text-decoration: none;
}

.container3 .div2 {
    position: relative;
}

.container3 .div2 h1 {
    color: rgb(91, 91, 91);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 63px;
}

.container3 .div2 ul {
    list-style: none;
}

.container3 .div2 ul a {
    text-decoration: none;
    color: rgb(152, 152, 152);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.container3 .div2 ul li {
    margin-left: 49px;
    margin-bottom: 39px;
}

.container3 .div2 ul img {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 10px;
}

.container3 .div3 {
    text-align: center;
} 

.container3 .div3 h1 {
    color: rgb(91, 91, 91);
    font-family: Nunito;
    font-size: 43px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.container3 .div3 img {
    background-blend-mode: 16px;
}

.container3 .div3 p {
    color: rgb(152, 152, 152);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

footer {
    max-width: 1440px;
    margin: auto;
    padding: 19px 0 25px 140px;
    display: flex;
}

footer h1 {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    color: rgb(237, 237, 237);
    margin-right: 62px;
}

footer h1 span {
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(132, 132, 132);
}

footer .divv h1 {
    color: rgb(237, 237, 237);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 15px;
}

footer .divv ul {
    color: rgb(237, 237, 237);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    list-style: none;
    display: flex;
    gap: 6px;
    flex-direction: column;
}